@CHARSET "UTF-8";

/* Menu bar Start */
div.Bar {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
div.Bar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
/* Menu bar End */

/* Main Start */
div.ImageSlide {
	background-image: url(img\pic1.png);
  background-size: 100%;
  background-repeat: no-repeat;

	outline : none;
	width : 100%;
	height : 384px;
}

div.Gallery{
	background-color : #ffffcc;
	outline : none;
	width : 100%;
	height : 384px;
}

div.Introduce {
	background-color : #ccffff;
	outline : none;
	width : 100%;
	height : 384px;
}

div.Guestbook {
 background-color : #ccffff;
 outline : none;
 width : 100%;
 height : 384px;
}
/* Main End */

/* Footer Start */
footer {
    display: block;
}
/* Footer End */
button:hover{
  background-color: #dddddd;
  cursor: pointer;
}
ul{
  list-style: none;
}
li{
  float: left;
  margin: 30px;
}
